<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">
      Comp Builder
    </a>
    <ul class="navbar-nav me-auto mb-2 mb-md-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="ai-selector"
          ><i class="bi bi-robot me-1"></i
          >{{ "NAV.AI-SELECTOR" | translate }}</a
        >
      </li>
      <li class="nav-item">
        <div class="btn-group" dropdown>
          <button
            id="button-basic"
            dropdownToggle
            type="button"
            class="btn btn-primary dropdown-toggle"
            aria-controls="dropdown-basic"
          >
            <i class="bi bi-grid"></i> {{ "NAV.CATALOG" | translate }}
            <span class="caret"></span>
          </button>
          <ul
            id="dropdown-basic"
            *dropdownMenu
            class="dropdown-menu"
            role="menu"
            aria-labelledby="button-basic"
          >
            <li role="menuitem">
              <a class="dropdown-item" routerLink="/catalog/videocards">{{
                "NAV.VIDEOCARDS" | translate
              }}</a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item" routerLink="/catalog/ssd">{{
                "NAV.SSD" | translate
              }}</a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item" routerLink="/catalog/hdd">{{
                "NAV.HDD" | translate
              }}</a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item" routerLink="/catalog/coolers">{{
                "NAV.COOLERS" | translate
              }}</a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item" routerLink="/catalog/memory">{{
                "NAV.RAM" | translate
              }}</a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item" routerLink="/catalog/motherboards">{{
                "NAV.MOTHERBOARDS" | translate
              }}</a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item" routerLink="/catalog/processors">{{
                "NAV.CPU" | translate
              }}</a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item" routerLink="/catalog/psu">{{
                "NAV.PSU" | translate
              }}</a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item" routerLink="/catalog/cases">{{
                "NAV.CASES" | translate
              }}</a>
            </li>
          </ul>
        </div>
      </li>

      @if (accountService.currentUser()) {

      <div class="btn-group" dropdown>
        <button
          id="button-basic"
          dropdownToggle
          type="button"
          class="btn btn-primary dropdown-toggle"
          aria-controls="dropdown-basic"
        >
          <i class="bi bi-person"></i>
          {{ "NAV.PROFILE" | translate }}
          <span class="caret"></span>
        </button>
        <ul
          id="dropdown-basic"
          *dropdownMenu
          class="dropdown-menu"
          role="menu"
          aria-labelledby="button-basic"
        >
          <li role="menuitem">
            <a class="dropdown-item" routerLink="/settings"
              ><i class="bi bi-gear-fill me-1"></i
              >{{ "NAV.SETTINGS" | translate }}</a
            >
          </li>
          <li role="menuitem">
            <a class="dropdown-item" style="cursor: pointer" (click)="logout()"
              ><i class="bi bi-door-closed-fill me-1"></i
              >{{ "NAV.LOGOUT" | translate }}</a
            >
          </li>
        </ul>
      </div>
      }
    </ul>

    <ul class="navbar-nav ms-auto">
      @if (!accountService.currentUser()) {
      <li class="nav-item">
        <a routerLink="/login" routerLinkActive="active" class="nav-link">
          <i class="bi bi-door-open"></i>
          {{ "NAV.LOGIN" | translate }}
        </a>
      </li>
      }
    </ul>

    @if (accountService.currentUser()) {

    <form class="d-flex ms-2" (ngSubmit)="onSearch()">
      <input
        class="form-control me-sm-2"
        [(ngModel)]="term"
        name="search"
        type="search"
        placeholder="{{ 'NAV.SEARCH' | translate }}..."
        aria-label="Search"
      />
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">
        {{ "NAV.SEARCH" | translate }}
      </button>
    </form>
    }
    <div class="btn-group ms-2" dropdown>
      <button
        id="language-dropdown"
        dropdownToggle
        type="button"
        class="btn btn-outline-light dropdown-toggle"
        aria-controls="language-menu"
      >
        <i class="bi bi-translate"></i>
        {{ langService.currentLang().toUpperCase() }}
      </button>
      <ul
        *dropdownMenu
        class="dropdown-menu dropdown-menu-end"
        aria-labelledby="language-dropdown"
      >
        <li>
          <button class="dropdown-item" (click)="switchLanguage('en')">
            English
          </button>
        </li>
        <li>
          <button class="dropdown-item" (click)="switchLanguage('ua')">
            Українська
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
