<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">
      Dating app
    </a>
    <ul class="navbar-nav me-auto mb-2 mb-md-0">
      <li class="nav-item">
        <div class="btn-group" dropdown>
          <button
            id="button-basic"
            dropdownToggle
            type="button"
            class="btn btn-primary dropdown-toggle"
            aria-controls="dropdown-basic"
          >
            Catalog
            <span class="caret"></span>
          </button>
          <ul
            id="dropdown-basic"
            *dropdownMenu
            class="dropdown-menu"
            role="menu"
            aria-labelledby="button-basic"
          >
            <li role="menuitem">
              <a class="dropdown-item" routerLink="/catalog/videocards"
                >Відеокарти</a
              >
            </li>
            <li role="menuitem">
              <a class="dropdown-item" routerLink="/catalog/ssd">SSD</a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item" routerLink="/catalog/hdd">HDD</a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item" routerLink="/catalog/coolers"
                >Системи охолодження</a
              >
            </li>
            <li role="menuitem">
              <a class="dropdown-item" routerLink="/catalog/memory"
                >Оперативна пам'ять</a
              >
            </li>
            <li role="menuitem">
              <a class="dropdown-item" routerLink="/catalog/motherboards"
                >Материнські плати</a
              >
            </li>
            <li role="menuitem">
              <a class="dropdown-item" routerLink="/catalog/processors"
                >Процесори</a
              >
            </li>
            <li role="menuitem">
              <a class="dropdown-item" routerLink="/catalog/psu"
                >Блоки живлення</a
              >
            </li>
            <li role="menuitem">
              <a class="dropdown-item" routerLink="/catalog/cases">Корпуси</a>
            </li>
          </ul>
        </div>
      </li>

      @if (accountService.currentUser()) {

      <div class="btn-group" dropdown>
        <button
          id="button-basic"
          dropdownToggle
          type="button"
          class="btn btn-primary dropdown-toggle"
          aria-controls="dropdown-basic"
        >
          <i class="bi bi-person"></i>
          {{ accountService.currentUser()?.userName }}
          <span class="caret"></span>
        </button>
        <ul
          id="dropdown-basic"
          *dropdownMenu
          class="dropdown-menu"
          role="menu"
          aria-labelledby="button-basic"
        >
          <li role="menuitem">
            <a class="dropdown-item" routerLink="/settings"
              ><i class="bi bi-gear-fill me-1"></i>Settings</a
            >
          </li>
          <li role="menuitem">
            <a class="dropdown-item" style="cursor: pointer" (click)="logout()"
              ><i class="bi bi-door-closed-fill me-1"></i>Logout</a
            >
          </li>
        </ul>
      </div>
      }
    </ul>

    <ul class="navbar-nav ms-auto">
      @if (!accountService.currentUser()) {
      <li class="nav-item">
        <a routerLink="/login" routerLinkActive="active" class="nav-link">
          <i class="bi bi-door-open"></i>
          Log in
        </a>
      </li>
      }
    </ul>

    @if (accountService.currentUser()) {
    <form class="d-flex ms-2" (ngSubmit)="onSearch()">
      <input
        class="form-control me-sm-2"
        [(ngModel)]="term"
        name="search"
        type="search"
        placeholder="Пошук..."
        aria-label="Search"
      />
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
    }
  </div>
</nav>
