@if (isLoading) {
  <div class="text-center my-4">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
} @else {
  @for (item of componentsService.paginatedResult()?.items; track item.id) {
    <app-component-card [component]="item"></app-component-card>
  }

  @if ((componentsService.paginatedResult()?.pagination?.totalItems || 0) > 0) {
    <div class="d-flex justify-content-center my-4">
      <pagination
        [totalItems]="(componentsService.paginatedResult()?.pagination)!.totalItems"
        [itemsPerPage]="(componentsService.paginatedResult()?.pagination)!.itemsPerPage"
        [(ngModel)]="currentPage"
        (pageChanged)="pageChanged($event)"
        [rotate]="false"
        [maxSize]="7"
        [boundaryLinks]="true"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;"
      ></pagination>
    </div>
  }
}