<div class="card shadow-sm">
  <div class="card-body">
    <h5 class="card-title">
      <i class="bi bi-lock me-2"></i
      >{{ "SETTINGS.SIDE.CHANGE_PASSWORD" | translate }}
    </h5>
    <hr />
    @if(accountService.user()){
    <form
      #changePasswordForm="ngForm"
      (ngSubmit)="onSubmit(changePasswordForm)"
    >
      <div class="mb-3">
        <label class="form-label fw-bold">{{
          "SETTINGS.CHANGE_PASSWORD.CURRENT" | translate
        }}</label>
        <div class="input-group">
          <input
            [type]="currentPasswordVisible ? 'text' : 'password'"
            class="form-control"
            placeholder="{{
              'SETTINGS.CHANGE_PASSWORD.ENTER_CURRENT' | translate
            }}"
            name="currentPassword"
            [(ngModel)]="changePasswordData.currentPassword"
            #currentPassword="ngModel"
            required
            minlength="8"
            maxlength="16"
          />
          <span
            class="input-group-text"
            style="cursor: pointer"
            (click)="toggleCurrentPasswordVisibility()"
          >
            <i
              class="bi"
              [ngClass]="currentPasswordVisible ? 'bi-eye-slash' : 'bi-eye'"
            ></i>
          </span>
        </div>
        <div
          class="text-danger small"
          *ngIf="currentPassword.invalid && currentPassword.touched"
        >
          <span *ngIf="currentPassword.errors?.['required']"
            >Current password is required.</span
          >
          <span *ngIf="currentPassword.errors?.['minlength']"
            >Password must be at least 8 characters long.</span
          >
          <span *ngIf="currentPassword.errors?.['maxlength']"
            >Password must be less than 16 characters long.</span
          >
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label fw-bold">{{
          "SETTINGS.CHANGE_PASSWORD.NEW" | translate
        }}</label>
        <div class="input-group">
          <input
            [type]="newPasswordVisible ? 'text' : 'password'"
            class="form-control"
            placeholder="{{ 'SETTINGS.CHANGE_PASSWORD.ENTER_NEW' | translate }}"
            name="newPassword"
            [(ngModel)]="changePasswordData.newPassword"
            #newPassword="ngModel"
            required
            minlength="8"
            maxlength="16"
          />
          <span
            class="input-group-text"
            style="cursor: pointer"
            (click)="toggleNewPasswordVisibility()"
          >
            <i
              class="bi"
              [ngClass]="newPasswordVisible ? 'bi-eye-slash' : 'bi-eye'"
            ></i>
          </span>
        </div>
        <div
          class="text-danger small"
          *ngIf="newPassword.invalid && newPassword.touched"
        >
          <span *ngIf="newPassword.errors?.['required']"
            >New password is required.</span
          >
          <span *ngIf="newPassword.errors?.['minlength']"
            >Password must be at least 8 characters long.</span
          >
          <span *ngIf="newPassword.errors?.['maxlength']"
            >Password must be less than 16 characters long.</span
          >
        </div>
      </div>

      <div class="d-flex justify-content-between gap-3">
        <button
          type="submit"
          class="btn btn-primary w-45"
          [disabled]="changePasswordForm.invalid"
        >
          {{ "SETTINGS.CHANGE_PASSWORD.CHANGE" | translate }}
        </button>
      </div>
    </form>
    <div *ngIf="changePasswordErrors" class="alert alert-danger mt-3">
      <div [innerHTML]="changePasswordErrors"></div>
    </div>
    }
  </div>
</div>
